@page "/"

@using BlazorTableDemo.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service and showing on virtualized table.</p>

<div class="vWrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize @ref="asyncVirtualize" ItemsProvider="LoadForecasts" Context="forecast" ItemSize="10">
                <ItemContent>
                    <!-- here we set the row click event handler and the pass current row item as parameter -->
                    <tr class="vRow" @onclick="@(() => RowClick(forecast))">
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                </ItemContent>
                <Placeholder>
                    <p>
                        Loading...
                    </p>
                </Placeholder>
            </Virtualize>
        </tbody>
    </table>
</div>
<br />
<div> 
    <!-- here we show the last record clicked, if data gets modified in dialog it will show updated values -->
    <Forecast forecast=@curSelection />
</div>
<!-- our modal dialog that will allow us to do edits on clicked data -->
<ModalDialog showModal=@showModal Data=@curSelection OnChange="DialogChange" />

@code {
    private Virtualize<WeatherForecast> asyncVirtualize;        // can be used to force table update if required by calling asyncVirtualize.RefreshDataAsync()
    private WeatherForecast curSelection;
    private bool showModal = false;

    private void DialogChange(WeatherForecast forecast)
    {
        showModal = false;
        curSelection = forecast;
    }

    /// <summary>
    /// ItemProvider for Virtualize component, this will retrieve the data from our service and manage records that will be shown.
    /// </summary>
    /// <param name="request"></param>
    /// <returns></returns>
    protected async ValueTask<ItemsProviderResult<WeatherForecast>> LoadForecasts(ItemsProviderRequest request)
    {
        var fc = await ForecastService.GetForecastAsync(DateTime.Now);
        return new ItemsProviderResult<WeatherForecast>(fc.Skip(request.StartIndex).Take(request.Count), fc.Count());
    }

    /// <summary>
    /// Event on table row click that shows a modal dialog to allow edit the data.
    /// </summary>
    /// <param name="forecast">Model for the row clicked</param>
    private void RowClick(WeatherForecast forecast)
    {
        curSelection = forecast;
        showModal = true;
    }
}
